body {
  background-color: beige;
}

#strip {
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
}

.box {
  width: 276px;
  height: 284px;
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  display: block;
  margin: auto;
}

#on,
#big,
#step2 {
  display: none;
}
